/vendor
/node_modules
.env
npm-debug.log
.idea/
lastupdated.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.phpstorm.meta.php

/public/js/app.js
/public/js/vendor.js
/public/js/vendor.js.map
/public/css/app.css
/public/css/vendor.css
/public/css/vendor.css.map