<div class="Page-Container Claim" ng-controller="ClaimController" layout="row" layout-align="center">
    <div flex="50" flex-sm="100">
        <md-toolbar class="md-padding">
            Claim a Hashtag
        </md-toolbar>

        <div ng-if="!currentUser.is_temp">
            <form ng-submit="claimHashtag(hashtag)" ng-if="!currentUser.chatroom">
                <validation errors="errors"></validation>

                <md-input-container>
                    <label>Hashtag</label>
                    <input type="text" ng-model="hashtag"/>
                </md-input-container>

                <div layout="row" layout-align="end">
                    <md-button class="md-raised md-primary"><i class="fa fa-check"></i> Claim</md-button>
                </div>
            </form>

            <div ng-if="currentUser.chatroom" class="text-center">
                <h4>You can only claim one hashtag.</h4>
                <h4>
                    You already own
                    <a ui-sref="app.chat.show({title: currentUser.chatroom.channel.substr(4)})">#{{currentUser.chatroom.channel.substr(4)}}</a>.
                </h4>
            </div>
        </div>

        <div ng-if="!currentUser || currentUser.is_temp" class="text-center">
            <h4>You must be a registered user to claim a hashtag</h4>
        </div>
    </div>
</div>
