$dimensionLength: 209px;
$gutterLength: 10px;

.wall-box {
    width: $dimensionLength;
    height: $dimensionLength;
    .box-content {
        height: $dimensionLength - 60px;
        position: relative;
        > div {
            padding: 10px;
        }
    }
    .photo {
        color: #fff;
        > div {
            opacity: 0;
            transition: all .3s ease;
            background-size: contain;
            .box-content,
            .box-header,
            .box-footer {
                background: rgba(#000, .3);
            }
            &:hover {
                opacity: 1;
            }
        }
    }
    md-menu-item {
        min-height: 36px;
        height: 36px;
    }
}

.box-width-2 {
    width: ($dimensionLength * 2) + $gutterLength;
}

.box-height-2 {
    height: ($dimensionLength * 2) + $gutterLength;
    .box-content {
        height: ($dimensionLength * 2) + $gutterLength - 60px;
    }
}

.box-header,
.box-footer {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.box-header {
    background-color: rgba(#000, .2);
    img {
        width: auto;
        height: 100%;
        position: relative;
        bottom: 1px;
        border: 1px solid #ccc;
    }
    a {
        display: block;
        color: #fff;
        height: 100%;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
            text-decoration: none;
        }
    }
    md-menu {
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        > a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            opacity: .7;
        }
    }
}

.box-content {
    padding: 4px 8px;
    overflow: hidden;
    word-wrap: break-word;
}

.box-footer {
    background-color: rgba(#000, .2);
    color: #fff;
    > a {
        color: #fff;
        display: block;
        text-align: center;
        cursor: pointer;
        position: relative;
        &:hover,
        &:active,
        &:focus {
            color: #fff;
            text-decoration: none;
            background-color: rgba(#000, .2);
        }
    }
    > span {
        padding-right: 10px;
    }
    .is-liked {
        background-color: rgba(#000, .4);
    }
}

// This is to force user to use landscape to view profile wall
.force-landscape {
    h3 {
        margin-bottom: 2em;
    }
}