<md-dialog class="Dialog About">
    <md-dialog-content>
        <article>
            <h2 class="md-title">What is this?</h2>

            <p>
                It's simple. It's hashtag chatting. Chatting was popular in the
                early 2000s. However, the internet is moving towards a slow,
                forum-based internet and we want to bring back real-time
                social interaction!
            </p>

            <p>
                We're still brand new and growing our
                community. So hang out with us at the website lounge at
                <a href ng-click="hideAndGoToFinit()">#Finit</a>!
            </p>
        </article>
    </md-dialog-content>

    <div class="md-actions" layout="row">
        <md-button class="md-accent md-raised" ng-click="hide()">Got it</md-button>
    </div>
</md-dialog>
