<div class="Page-Container" ng-controller="ForgotPasswordResetController" layout="row" layout-align="center">
    <md-content flex="50">
        <md-toolbar class="md-padding text-center">Reset Password</md-toolbar>

        <md-content class="md-padding" ng-hide="tokenExpired">
            <md-subheader>Reset your password.</md-subheader>

            <validation errors="errors"></validation>

            <form ng-submit="submit(formData)">
                <!--EMAIL-->
                <md-input-container>
                    <label>Email</label>
                    <input type="email" ng-model="formData.email">
                </md-input-container>

                <!--PASSWORD-->
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="formData.password">
                </md-input-container>

                <!--PASSWORD CONFIRMATION-->
                <md-input-container>
                    <label>Password Confirmation</label>
                    <input type="password" ng-model="formData.password_confirmation">
                </md-input-container>

                <!--BUTTONS-->
                <div layout="row" layout-align="end">
                    <md-button class="md-raised md-accent">
                        <i class="fa fa-check"></i>
                        Submit
                    </md-button>
                </div>
            </form>
        </md-content>

        <md-content class="md-padding" ng-show="tokenExpired">
            <p class="md-padding md-color red hue-50">
                Password reset request has expired.
            </p>
        </md-content>
    </md-content>
</div>
