<div class="Page-Container" ng-controller="ContactController" layout="row" layout-align="center">
    <md-content flex="100" flex-lg="75" flex-gt-lg="50">
        <md-toolbar class="text-center md-padding">Contact</md-toolbar>
        <md-subheader>To contact us, please fill out the following.</md-subheader>
        <md-content layout-padding>
            <form ng-submit="submit()" layout="row" layout-wrap name="contact">
                <md-input-container flex="50" flex-sm="100">
                    <label>Email</label>
                    <input type="email" ng-model="contactFormData.email" required>
                </md-input-container>
                <md-input-container flex="50" flex-sm="100">
                    <label>Name (Optional)</label>
                    <input type="text" ng-model="contactFormData.name">
                </md-input-container>
                <md-input-container flex="100">
                    <label>Description</label>
                    <textarea ng-model="contactFormData.body" rows="4" required md-maxlength="10000" maxlength="10000"></textarea>
                </md-input-container>

                <div flex="100" class="text-right">
                    <md-button class="md-raised md-accent"><i class="fa fa-check"></i> Send</md-button>
                </div>
            </form>
        </md-content>
    </md-content>
</div>
