<div class="Page-Container" ng-controller="PasswordResetController" layout="row" layout-align="center">
    <div ng-if="!resetNotFound" flex="50">
        <md-toolbar class="text-center md-padding">Password reset</md-toolbar>
        <md-content class="md-padding">
            <p>
                <big>
                    @{{user.username}}, you have requested to reset your password.
                </big>
            </p>

            <form ng-submit="submit()" layout="row" layout-align="end">
                <md-button type="submit" class="md-primary">Cancel</md-button>
                <md-button type="submit" class="md-raised md-primary">Confirm Reset</md-button>
            </form>
        </md-content>
    </div>

    <div class="md-padding" ng-if="resetNotFound" flex="50">
        <h1 class="text-center">Password reset</h1>

        <p>
            <big>
                Password reset has expired.
            </big>
        </p>
    </div>
</div>
