.md-color {
    &.red {
        background-color: #F44336;
        color: #fff;
        &.hue-50    { background-color: #FFEBEE; color: #000; }
        &.hue-100   { background-color: #FFCDD2; color: #000; }
        &.hue-200   { background-color: #EF9A9A; color: #000; }
        &.hue-300   { background-color: #E57373; color: #000; }
        &.hue-400   { background-color: #EF5350; }
        &.hue-500   { background-color: #F44336; }
        &.hue-600   { background-color: #E53935; }
        &.hue-700   { background-color: #D32F2F; }
        &.hue-800   { background-color: #C62828; }
        &.hue-900   { background-color: #B71C1C; }
        &.hue-A100  { background-color: #FF8A80; color: #000; }
        &.hue-A200  { background-color: #FF5252; }
        &.hue-A400  { background-color: #FF1744; }
        &.hue-A700  { background-color: #D50000; }
        &.hover:hover {
            background-color: darken(#F44336, 10%);
            color: #fff;
            &.hue-50    { background-color: darken(#FFEBEE, 10%); color: #000; }
            &.hue-100   { background-color: darken(#FFCDD2, 10%); color: #000; }
            &.hue-200   { background-color: darken(#EF9A9A, 10%); color: #000; }
            &.hue-300   { background-color: darken(#E57373, 10%); color: #000; }
            &.hue-400   { background-color: darken(#EF5350, 10%); }
            &.hue-500   { background-color: darken(#F44336, 10%); }
            &.hue-600   { background-color: darken(#E53935, 10%); }
            &.hue-700   { background-color: darken(#D32F2F, 10%); }
            &.hue-800   { background-color: darken(#C62828, 10%); }
            &.hue-900   { background-color: darken(#B71C1C, 10%); }
            &.hue-A100  { background-color: darken(#FF8A80, 10%); color: #000; }
            &.hue-A200  { background-color: darken(#FF5252, 10%); }
            &.hue-A400  { background-color: darken(#FF1744, 10%); }
            &.hue-A700  { background-color: darken(#D50000, 10%); }
        }
    }
    &.pink {
        background-color: #E91E63;
        color: #fff;
        &.hue-50   { background-color: #FCE4EC; color: #000; }
        &.hue-100  { background-color: #F8BBD0; color: #000; }
        &.hue-200  { background-color: #F48FB1; color: #000; }
        &.hue-300  { background-color: #F06292; }
        &.hue-400  { background-color: #EC407A; }
        &.hue-500  { background-color: #E91E63; }
        &.hue-600  { background-color: #D81B60; }
        &.hue-700  { background-color: #C2185B; }
        &.hue-800  { background-color: #AD1457; }
        &.hue-900  { background-color: #880E4F; }
        &.hue-A100 { background-color: #FF80AB; color: #000; }
        &.hue-A200 { background-color: #FF4081; }
        &.hue-A400 { background-color: #F50057; }
        &.hue-A700 { background-color: #C51162; }
        &.hover:hover {
            background-color: darken(#E91E63, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#FCE4EC, 10%); color: #000; }
            &.hue-100  { background-color: darken(#F8BBD0, 10%); color: #000; }
            &.hue-200  { background-color: darken(#F48FB1, 10%); color: #000; }
            &.hue-300  { background-color: darken(#F06292, 10%); }
            &.hue-400  { background-color: darken(#EC407A, 10%); }
            &.hue-500  { background-color: darken(#E91E63, 10%); }
            &.hue-600  { background-color: darken(#D81B60, 10%); }
            &.hue-700  { background-color: darken(#C2185B, 10%); }
            &.hue-800  { background-color: darken(#AD1457, 10%); }
            &.hue-900  { background-color: darken(#880E4F, 10%); }
            &.hue-A100 { background-color: darken(#FF80AB, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#FF4081, 10%); }
            &.hue-A400 { background-color: darken(#F50057, 10%); }
            &.hue-A700 { background-color: darken(#C51162, 10%); }
        }
    }
    &.purple {
        background-color: #9C27B0;
        color: #fff;
        &.hue-50   { background-color: #F3E5F5; color: #000; }
        &.hue-100  { background-color: #E1BEE7; color: #000; }
        &.hue-200  { background-color: #CE93D8; color: #000; }
        &.hue-300  { background-color: #BA68C8; }
        &.hue-400  { background-color: #AB47BC; }
        &.hue-500  { background-color: #9C27B0; }
        &.hue-600  { background-color: #8E24AA; }
        &.hue-700  { background-color: #7B1FA2; }
        &.hue-800  { background-color: #6A1B9A; }
        &.hue-900  { background-color: #4A148C; }
        &.hue-A100 { background-color: #EA80FC; color: #000; }
        &.hue-A200 { background-color: #E040FB; }
        &.hue-A400 { background-color: #D500F9; }
        &.hue-A700 { background-color: #AA00FF; }
        &.hover:hover {
            background-color: darken(#9C27B0, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#F3E5F5, 10%); color: #000; }
            &.hue-100  { background-color: darken(#E1BEE7, 10%); color: #000; }
            &.hue-200  { background-color: darken(#CE93D8, 10%); color: #000; }
            &.hue-300  { background-color: darken(#BA68C8, 10%); }
            &.hue-400  { background-color: darken(#AB47BC, 10%); }
            &.hue-500  { background-color: darken(#9C27B0, 10%); }
            &.hue-600  { background-color: darken(#8E24AA, 10%); }
            &.hue-700  { background-color: darken(#7B1FA2, 10%); }
            &.hue-800  { background-color: darken(#6A1B9A, 10%); }
            &.hue-900  { background-color: darken(#4A148C, 10%); }
            &.hue-A100 { background-color: darken(#EA80FC, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#E040FB, 10%); }
            &.hue-A400 { background-color: darken(#D500F9, 10%); }
            &.hue-A700 { background-color: darken(#AA00FF, 10%); }
        }
    }
    &.deep-purple {
        background-color: #673AB7;
        color: #fff;
        &.hue-50   { background-color: #EDE7F6; color: #000; }
        &.hue-100  { background-color: #D1C4E9; color: #000; }
        &.hue-200  { background-color: #B39DDB; color: #000; }
        &.hue-300  { background-color: #9575CD; }
        &.hue-400  { background-color: #7E57C2; }
        &.hue-500  { background-color: #673AB7; }
        &.hue-600  { background-color: #5E35B1; }
        &.hue-700  { background-color: #512DA8; }
        &.hue-800  { background-color: #4527A0; }
        &.hue-900  { background-color: #311B92; }
        &.hue-A100 { background-color: #B388FF; color: #000; }
        &.hue-A200 { background-color: #7C4DFF; }
        &.hue-A400 { background-color: #651FFF; }
        &.hue-A700 { background-color: #6200EA; }
        &.hover:hover {
            background-color: darken(#673AB7, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#EDE7F6, 10%); color: #000; }
            &.hue-100  { background-color: darken(#D1C4E9, 10%); color: #000; }
            &.hue-200  { background-color: darken(#B39DDB, 10%); color: #000; }
            &.hue-300  { background-color: darken(#9575CD, 10%); }
            &.hue-400  { background-color: darken(#7E57C2, 10%); }
            &.hue-500  { background-color: darken(#673AB7, 10%); }
            &.hue-600  { background-color: darken(#5E35B1, 10%); }
            &.hue-700  { background-color: darken(#512DA8, 10%); }
            &.hue-800  { background-color: darken(#4527A0, 10%); }
            &.hue-900  { background-color: darken(#311B92, 10%); }
            &.hue-A100 { background-color: darken(#B388FF, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#7C4DFF, 10%); }
            &.hue-A400 { background-color: darken(#651FFF, 10%); }
            &.hue-A700 { background-color: darken(#6200EA, 10%); }
        }
    }
    &.indigo {
        background-color: #3F51B5;
        color: #fff;
        &.hue-50   { background-color: #E8EAF6; color: #000; }
        &.hue-100  { background-color: #C5CAE9; color: #000; }
        &.hue-200  { background-color: #9FA8DA; color: #000; }
        &.hue-300  { background-color: #7986CB; }
        &.hue-400  { background-color: #5C6BC0; }
        &.hue-500  { background-color: #3F51B5; }
        &.hue-600  { background-color: #3949AB; }
        &.hue-700  { background-color: #303F9F; }
        &.hue-800  { background-color: #283593; }
        &.hue-900  { background-color: #1A237E; }
        &.hue-A100 { background-color: #8C9EFF; color: #000; }
        &.hue-A200 { background-color: #536DFE; }
        &.hue-A400 { background-color: #3D5AFE; }
        &.hue-A700 { background-color: #304FFE; }
        &.hover:hover {
            background-color: darken(#3F51B5, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E8EAF6, 10%); color: #000; }
            &.hue-100  { background-color: darken(#C5CAE9, 10%); color: #000; }
            &.hue-200  { background-color: darken(#9FA8DA, 10%); color: #000; }
            &.hue-300  { background-color: darken(#7986CB, 10%); }
            &.hue-400  { background-color: darken(#5C6BC0, 10%); }
            &.hue-500  { background-color: darken(#3F51B5, 10%); }
            &.hue-600  { background-color: darken(#3949AB, 10%); }
            &.hue-700  { background-color: darken(#303F9F, 10%); }
            &.hue-800  { background-color: darken(#283593, 10%); }
            &.hue-900  { background-color: darken(#1A237E, 10%); }
            &.hue-A100 { background-color: darken(#8C9EFF, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#536DFE, 10%); }
            &.hue-A400 { background-color: darken(#3D5AFE, 10%); }
            &.hue-A700 { background-color: darken(#304FFE, 10%); }
        }
    }
    &.blue {
        background-color: #2196F3;
        color: #fff;
        &.hue-50   { background-color: #E3F2FD; color: #000; }
        &.hue-100  { background-color: #BBDEFB; color: #000; }
        &.hue-200  { background-color: #90CAF9; color: #000; }
        &.hue-300  { background-color: #64B5F6; color: #000; }
        &.hue-400  { background-color: #42A5F5; color: #000; }
        &.hue-500  { background-color: #2196F3; }
        &.hue-600  { background-color: #1E88E5; }
        &.hue-700  { background-color: #1976D2; }
        &.hue-800  { background-color: #1565C0; }
        &.hue-900  { background-color: #0D47A1; }
        &.hue-A100 { background-color: #82B1FF; color: #000; }
        &.hue-A200 { background-color: #448AFF; }
        &.hue-A400 { background-color: #2979FF; }
        &.hue-A700 { background-color: #2962FF; }
        &.hover:hover {
            background-color: darken(#2196F3, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E3F2FD, 10%); color: #000; }
            &.hue-100  { background-color: darken(#BBDEFB, 10%); color: #000; }
            &.hue-200  { background-color: darken(#90CAF9, 10%); color: #000; }
            &.hue-300  { background-color: darken(#64B5F6, 10%); color: #000; }
            &.hue-400  { background-color: darken(#42A5F5, 10%); color: #000; }
            &.hue-500  { background-color: darken(#2196F3, 10%); }
            &.hue-600  { background-color: darken(#1E88E5, 10%); }
            &.hue-700  { background-color: darken(#1976D2, 10%); }
            &.hue-800  { background-color: darken(#1565C0, 10%); }
            &.hue-900  { background-color: darken(#0D47A1, 10%); }
            &.hue-A100 { background-color: darken(#82B1FF, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#448AFF, 10%); }
            &.hue-A400 { background-color: darken(#2979FF, 10%); }
            &.hue-A700 { background-color: darken(#2962FF, 10%); }
        }
    }
    &.light-blue {
        background-color: #03A9F4;
        color: #fff;
        &.hue-50   { background-color: #E1F5FE; color: #000; }
        &.hue-100  { background-color: #B3E5FC; color: #000; }
        &.hue-200  { background-color: #81D4FA; color: #000; }
        &.hue-300  { background-color: #4FC3F7; color: #000; }
        &.hue-400  { background-color: #29B6F6; color: #000; }
        &.hue-500  { background-color: #03A9F4; color: #000; }
        &.hue-600  { background-color: #039BE5; }
        &.hue-700  { background-color: #0288D1; }
        &.hue-800  { background-color: #0277BD; }
        &.hue-900  { background-color: #01579B; }
        &.hue-A100 { background-color: #80D8FF; color: #000; }
        &.hue-A200 { background-color: #40C4FF; color: #000; }
        &.hue-A400 { background-color: #00B0FF; color: #000; }
        &.hue-A700 { background-color: #0091EA; }
        &.hover:hover {
            background-color: darken(#03A9F4, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E1F5FE, 10%); color: #000; }
            &.hue-100  { background-color: darken(#B3E5FC, 10%); color: #000; }
            &.hue-200  { background-color: darken(#81D4FA, 10%); color: #000; }
            &.hue-300  { background-color: darken(#4FC3F7, 10%); color: #000; }
            &.hue-400  { background-color: darken(#29B6F6, 10%); color: #000; }
            &.hue-500  { background-color: darken(#03A9F4, 10%); color: #000; }
            &.hue-600  { background-color: darken(#039BE5, 10%); }
            &.hue-700  { background-color: darken(#0288D1, 10%); }
            &.hue-800  { background-color: darken(#0277BD, 10%); }
            &.hue-900  { background-color: darken(#01579B, 10%); }
            &.hue-A100 { background-color: darken(#80D8FF, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#40C4FF, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#00B0FF, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#0091EA, 10%); }
        }
    }
    &.cyan {
        background-color: #00BCD4;
        color: #fff;
        &.hue-50   { background-color: #E0F7FA; color: #000; }
        &.hue-100  { background-color: #B2EBF2; color: #000; }
        &.hue-200  { background-color: #80DEEA; color: #000; }
        &.hue-300  { background-color: #4DD0E1; color: #000; }
        &.hue-400  { background-color: #26C6DA; color: #000; }
        &.hue-500  { background-color: #00BCD4; color: #000; }
        &.hue-600  { background-color: #00ACC1; color: #000; }
        &.hue-700  { background-color: #0097A7; }
        &.hue-800  { background-color: #00838F; }
        &.hue-900  { background-color: #006064; }
        &.hue-A100 { background-color: #84FFFF; color: #000; }
        &.hue-A200 { background-color: #18FFFF; color: #000; }
        &.hue-A400 { background-color: #00E5FF; color: #000; }
        &.hue-A700 { background-color: #00B8D4; color: #000; }
        &.hover:hover {
            background-color: darken(#00BCD4, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E0F7FA, 10%); color: #000; }
            &.hue-100  { background-color: darken(#B2EBF2, 10%); color: #000; }
            &.hue-200  { background-color: darken(#80DEEA, 10%); color: #000; }
            &.hue-300  { background-color: darken(#4DD0E1, 10%); color: #000; }
            &.hue-400  { background-color: darken(#26C6DA, 10%); color: #000; }
            &.hue-500  { background-color: darken(#00BCD4, 10%); color: #000; }
            &.hue-600  { background-color: darken(#00ACC1, 10%); color: #000; }
            &.hue-700  { background-color: darken(#0097A7, 10%); }
            &.hue-800  { background-color: darken(#00838F, 10%); }
            &.hue-900  { background-color: darken(#006064, 10%); }
            &.hue-A100 { background-color: darken(#84FFFF, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#18FFFF, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#00E5FF, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#00B8D4, 10%); color: #000; }
        }
    }
    &.teal {
        background-color: #009688;
        color: #fff;
        &.hue-50   { background-color: #E0F2F1; color: #000; }
        &.hue-100  { background-color: #B2DFDB; color: #000; }
        &.hue-200  { background-color: #80CBC4; color: #000; }
        &.hue-300  { background-color: #4DB6AC; color: #000; }
        &.hue-400  { background-color: #26A69A; color: #000; }
        &.hue-500  { background-color: #009688; }
        &.hue-600  { background-color: #00897B; }
        &.hue-700  { background-color: #00796B; }
        &.hue-800  { background-color: #00695C; }
        &.hue-900  { background-color: #004D40; }
        &.hue-A100 { background-color: #A7FFEB; color: #000; }
        &.hue-A200 { background-color: #64FFDA; color: #000; }
        &.hue-A400 { background-color: #1DE9B6; color: #000; }
        &.hue-A700 { background-color: #00BFA5; color: #000; }
        &.hover:hover {
            background-color: darken(#009688, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E0F2F1, 10%); color: #000; }
            &.hue-100  { background-color: darken(#B2DFDB, 10%); color: #000; }
            &.hue-200  { background-color: darken(#80CBC4, 10%); color: #000; }
            &.hue-300  { background-color: darken(#4DB6AC, 10%); color: #000; }
            &.hue-400  { background-color: darken(#26A69A, 10%); color: #000; }
            &.hue-500  { background-color: darken(#009688, 10%); }
            &.hue-600  { background-color: darken(#00897B, 10%); }
            &.hue-700  { background-color: darken(#00796B, 10%); }
            &.hue-800  { background-color: darken(#00695C, 10%); }
            &.hue-900  { background-color: darken(#004D40, 10%); }
            &.hue-A100 { background-color: darken(#A7FFEB, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#64FFDA, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#1DE9B6, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#00BFA5, 10%); color: #000; }
        }
    }
    &.green {
        background-color: #4CAF50;
        color: #fff;
        &.hue-50   { background-color: #E8F5E9; color: #000; }
        &.hue-100  { background-color: #C8E6C9; color: #000; }
        &.hue-200  { background-color: #A5D6A7; color: #000; }
        &.hue-300  { background-color: #81C784; color: #000; }
        &.hue-400  { background-color: #66BB6A; color: #000; }
        &.hue-500  { background-color: #4CAF50; color: #000; }
        &.hue-600  { background-color: #43A047; }
        &.hue-700  { background-color: #388E3C; }
        &.hue-800  { background-color: #2E7D32; }
        &.hue-900  { background-color: #1B5E20; }
        &.hue-A100 { background-color: #B9F6CA; color: #000; }
        &.hue-A200 { background-color: #69F0AE; color: #000; }
        &.hue-A400 { background-color: #00E676; color: #000; }
        &.hue-A700 { background-color: #00C853; color: #000; }
        &.hover:hover {
            background-color: darken(#4CAF50, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#E8F5E9, 10%); color: #000; }
            &.hue-100  { background-color: darken(#C8E6C9, 10%); color: #000; }
            &.hue-200  { background-color: darken(#A5D6A7, 10%); color: #000; }
            &.hue-300  { background-color: darken(#81C784, 10%); color: #000; }
            &.hue-400  { background-color: darken(#66BB6A, 10%); color: #000; }
            &.hue-500  { background-color: darken(#4CAF50, 10%); color: #000; }
            &.hue-600  { background-color: darken(#43A047, 10%); }
            &.hue-700  { background-color: darken(#388E3C, 10%); }
            &.hue-800  { background-color: darken(#2E7D32, 10%); }
            &.hue-900  { background-color: darken(#1B5E20, 10%); }
            &.hue-A100 { background-color: darken(#B9F6CA, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#69F0AE, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#00E676, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#00C853, 10%); color: #000; }
        }
    }
    &.light-green {
        background-color: #8BC34A;
        color: #fff;
        &.hue-50   { background-color: #F1F8E9; color: #000; }
        &.hue-100  { background-color: #DCEDC8; color: #000; }
        &.hue-200  { background-color: #C5E1A5; color: #000; }
        &.hue-300  { background-color: #AED581; color: #000; }
        &.hue-400  { background-color: #9CCC65; color: #000; }
        &.hue-500  { background-color: #8BC34A; color: #000; }
        &.hue-600  { background-color: #7CB342; color: #000; }
        &.hue-700  { background-color: #689F38; }
        &.hue-800  { background-color: #558B2F; }
        &.hue-900  { background-color: #33691E; }
        &.hue-A100 { background-color: #CCFF90; color: #000; }
        &.hue-A200 { background-color: #B2FF59; color: #000; }
        &.hue-A400 { background-color: #76FF03; color: #000; }
        &.hue-A700 { background-color: #64DD17; color: #000; }
        &.hover:hover {
            background-color: darken(#8BC34A, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#F1F8E9, 10%); color: #000; }
            &.hue-100  { background-color: darken(#DCEDC8, 10%); color: #000; }
            &.hue-200  { background-color: darken(#C5E1A5, 10%); color: #000; }
            &.hue-300  { background-color: darken(#AED581, 10%); color: #000; }
            &.hue-400  { background-color: darken(#9CCC65, 10%); color: #000; }
            &.hue-500  { background-color: darken(#8BC34A, 10%); color: #000; }
            &.hue-600  { background-color: darken(#7CB342, 10%); color: #000; }
            &.hue-700  { background-color: darken(#689F38, 10%); }
            &.hue-800  { background-color: darken(#558B2F, 10%); }
            &.hue-900  { background-color: darken(#33691E, 10%); }
            &.hue-A100 { background-color: darken(#CCFF90, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#B2FF59, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#76FF03, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#64DD17, 10%); color: #000; }
        }
    }
    &.lime {
        background-color: #CDDC39;
        color: #fff;
        &.hue-50   { background-color: #F9FBE7; color: #000; }
        &.hue-100  { background-color: #F0F4C3; color: #000; }
        &.hue-200  { background-color: #E6EE9C; color: #000; }
        &.hue-300  { background-color: #DCE775; color: #000; }
        &.hue-400  { background-color: #D4E157; color: #000; }
        &.hue-500  { background-color: #CDDC39; color: #000; }
        &.hue-600  { background-color: #C0CA33; color: #000; }
        &.hue-700  { background-color: #AFB42B; color: #000; }
        &.hue-800  { background-color: #9E9D24; color: #000; }
        &.hue-900  { background-color: #827717; }
        &.hue-A100 { background-color: #F4FF81; color: #000; }
        &.hue-A200 { background-color: #EEFF41; color: #000; }
        &.hue-A400 { background-color: #C6FF00; color: #000; }
        &.hue-A700 { background-color: #AEEA00; color: #000; }
        &.hover:hover {
            background-color: darken(#CDDC39, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#F9FBE7, 10%); color: #000; }
            &.hue-100  { background-color: darken(#F0F4C3, 10%); color: #000; }
            &.hue-200  { background-color: darken(#E6EE9C, 10%); color: #000; }
            &.hue-300  { background-color: darken(#DCE775, 10%); color: #000; }
            &.hue-400  { background-color: darken(#D4E157, 10%); color: #000; }
            &.hue-500  { background-color: darken(#CDDC39, 10%); color: #000; }
            &.hue-600  { background-color: darken(#C0CA33, 10%); color: #000; }
            &.hue-700  { background-color: darken(#AFB42B, 10%); color: #000; }
            &.hue-800  { background-color: darken(#9E9D24, 10%); color: #000; }
            &.hue-900  { background-color: darken(#827717, 10%); }
            &.hue-A100 { background-color: darken(#F4FF81, 10%); color: #000; }
            &.hue-A200 { background-color: darken(#EEFF41, 10%); color: #000; }
            &.hue-A400 { background-color: darken(#C6FF00, 10%); color: #000; }
            &.hue-A700 { background-color: darken(#AEEA00, 10%); color: #000; }
        }
    }
    &.yellow {
        background-color: #FFEB3B;
        color: #000;
        &.hue-50   { background-color: #FFFDE7; }
        &.hue-100  { background-color: #FFF9C4; }
        &.hue-200  { background-color: #FFF59D; }
        &.hue-300  { background-color: #FFF176; }
        &.hue-400  { background-color: #FFEE58; }
        &.hue-500  { background-color: #FFEB3B; }
        &.hue-600  { background-color: #FDD835; }
        &.hue-700  { background-color: #FBC02D; }
        &.hue-800  { background-color: #F9A825; }
        &.hue-900  { background-color: #F57F17; }
        &.hue-A100 { background-color: #FFFF8D; }
        &.hue-A200 { background-color: #FFFF00; }
        &.hue-A400 { background-color: #FFEA00; }
        &.hue-A700 { background-color: #FFD600; }
        &.hover:hover {
            background-color: darken(#FFEB3B, 10%);
            color: #000;
            &.hue-50   { background-color: darken(#FFFDE7, 10%); }
            &.hue-100  { background-color: darken(#FFF9C4, 10%); }
            &.hue-200  { background-color: darken(#FFF59D, 10%); }
            &.hue-300  { background-color: darken(#FFF176, 10%); }
            &.hue-400  { background-color: darken(#FFEE58, 10%); }
            &.hue-500  { background-color: darken(#FFEB3B, 10%); }
            &.hue-600  { background-color: darken(#FDD835, 10%); }
            &.hue-700  { background-color: darken(#FBC02D, 10%); }
            &.hue-800  { background-color: darken(#F9A825, 10%); }
            &.hue-900  { background-color: darken(#F57F17, 10%); }
            &.hue-A100 { background-color: darken(#FFFF8D, 10%); }
            &.hue-A200 { background-color: darken(#FFFF00, 10%); }
            &.hue-A400 { background-color: darken(#FFEA00, 10%); }
            &.hue-A700 { background-color: darken(#FFD600, 10%); }
        }
    }
    &.amber {
        background-color: #FFC107;
        color: #000;
        &.hue-50   { background-color: #FFF8E1; }
        &.hue-100  { background-color: #FFECB3; }
        &.hue-200  { background-color: #FFE082; }
        &.hue-300  { background-color: #FFD54F; }
        &.hue-400  { background-color: #FFCA28; }
        &.hue-500  { background-color: #FFC107; }
        &.hue-600  { background-color: #FFB300; }
        &.hue-700  { background-color: #FFA000; }
        &.hue-800  { background-color: #FF8F00; }
        &.hue-900  { background-color: #FF6F00; }
        &.hue-A100 { background-color: #FFE57F; }
        &.hue-A200 { background-color: #FFD740; }
        &.hue-A400 { background-color: #FFC400; }
        &.hue-A700 { background-color: #FFAB00; }
        &.hover:hover {
            background-color: darken(#FFC107, 10%);
            color: #000;
            &.hue-50   { background-color: darken(#FFF8E1, 10%); }
            &.hue-100  { background-color: darken(#FFECB3, 10%); }
            &.hue-200  { background-color: darken(#FFE082, 10%); }
            &.hue-300  { background-color: darken(#FFD54F, 10%); }
            &.hue-400  { background-color: darken(#FFCA28, 10%); }
            &.hue-500  { background-color: darken(#FFC107, 10%); }
            &.hue-600  { background-color: darken(#FFB300, 10%); }
            &.hue-700  { background-color: darken(#FFA000, 10%); }
            &.hue-800  { background-color: darken(#FF8F00, 10%); }
            &.hue-900  { background-color: darken(#FF6F00, 10%); }
            &.hue-A100 { background-color: darken(#FFE57F, 10%); }
            &.hue-A200 { background-color: darken(#FFD740, 10%); }
            &.hue-A400 { background-color: darken(#FFC400, 10%); }
            &.hue-A700 { background-color: darken(#FFAB00, 10%); }
        }
    }
    &.orange {
        background-color: #FF9800;
        color: #000;
        &.hue-50   { background-color: #FFF3E0; }
        &.hue-100  { background-color: #FFE0B2; }
        &.hue-200  { background-color: #FFCC80; }
        &.hue-300  { background-color: #FFB74D; }
        &.hue-400  { background-color: #FFA726; }
        &.hue-500  { background-color: #FF9800; }
        &.hue-600  { background-color: #FB8C00; }
        &.hue-700  { background-color: #F57C00; }
        &.hue-800  { background-color: #EF6C00; color: #fff; }
        &.hue-900  { background-color: #E65100; color: #fff; }
        &.hue-A100 { background-color: #FFD180; }
        &.hue-A200 { background-color: #FFAB40; }
        &.hue-A400 { background-color: #FF9100; }
        &.hue-A700 { background-color: #FF6D00; }
        &.hover:hover {
            background-color: darken(#FF9800, 10%);
            color: #000;
            &.hue-50   { background-color: darken(#FFF3E0, 10%); }
            &.hue-100  { background-color: darken(#FFE0B2, 10%); }
            &.hue-200  { background-color: darken(#FFCC80, 10%); }
            &.hue-300  { background-color: darken(#FFB74D, 10%); }
            &.hue-400  { background-color: darken(#FFA726, 10%); }
            &.hue-500  { background-color: darken(#FF9800, 10%); }
            &.hue-600  { background-color: darken(#FB8C00, 10%); }
            &.hue-700  { background-color: darken(#F57C00, 10%); }
            &.hue-800  { background-color: darken(#EF6C00, 10%); color: #fff; }
            &.hue-900  { background-color: darken(#E65100, 10%); color: #fff; }
            &.hue-A100 { background-color: darken(#FFD180, 10%); }
            &.hue-A200 { background-color: darken(#FFAB40, 10%); }
            &.hue-A400 { background-color: darken(#FF9100, 10%); }
            &.hue-A700 { background-color: darken(#FF6D00, 10%); }
        }
    }
    &.deep-orange {
        background-color: #FF5722;
        color: #000;
        &.hue-50   { background-color: #FBE9E7; }
        &.hue-100  { background-color: #FFCCBC; }
        &.hue-200  { background-color: #FFAB91; }
        &.hue-300  { background-color: #FF8A65; }
        &.hue-400  { background-color: #FF7043; }
        &.hue-500  { background-color: #FF5722; color: #fff; }
        &.hue-600  { background-color: #F4511E; color: #fff; }
        &.hue-700  { background-color: #E64A19; color: #fff; }
        &.hue-800  { background-color: #D84315; color: #fff; }
        &.hue-900  { background-color: #BF360C; color: #fff; }
        &.hue-A100 { background-color: #FF9E80; }
        &.hue-A200 { background-color: #FF6E40; }
        &.hue-A400 { background-color: #FF3D00; color: #fff; }
        &.hue-A700 { background-color: #DD2C00; color: #fff; }
        &.hover:hover {
            background-color: darken(#FF5722, 10%);
            color: #000;
            &.hue-50   { background-color: darken(#FBE9E7, 10%); }
            &.hue-100  { background-color: darken(#FFCCBC, 10%); }
            &.hue-200  { background-color: darken(#FFAB91, 10%); }
            &.hue-300  { background-color: darken(#FF8A65, 10%); }
            &.hue-400  { background-color: darken(#FF7043, 10%); }
            &.hue-500  { background-color: darken(#FF5722, 10%); color: #fff; }
            &.hue-600  { background-color: darken(#F4511E, 10%); color: #fff; }
            &.hue-700  { background-color: darken(#E64A19, 10%); color: #fff; }
            &.hue-800  { background-color: darken(#D84315, 10%); color: #fff; }
            &.hue-900  { background-color: darken(#BF360C, 10%); color: #fff; }
            &.hue-A100 { background-color: darken(#FF9E80, 10%); }
            &.hue-A200 { background-color: darken(#FF6E40, 10%); }
            &.hue-A400 { background-color: darken(#FF3D00, 10%); color: #fff; }
            &.hue-A700 { background-color: darken(#DD2C00, 10%); color: #fff; }
        }
    }
    &.brown {
        background-color: #795548;
        color: #fff;
        &.hue-50   { background-color: #EFEBE9; color: #000; }
        &.hue-100  { background-color: #D7CCC8; color: #000; }
        &.hue-200  { background-color: #BCAAA4; color: #000; }
        &.hue-300  { background-color: #A1887F; }
        &.hue-400  { background-color: #8D6E63; }
        &.hue-500  { background-color: #795548; }
        &.hue-600  { background-color: #6D4C41; }
        &.hue-700  { background-color: #5D4037; }
        &.hue-800  { background-color: #4E342E; }
        &.hue-900  { background-color: #3E2723; }
        &.hover:hover {
            background-color: darken(#795548, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#EFEBE9, 10%); color: #000; }
            &.hue-100  { background-color: darken(#D7CCC8, 10%); color: #000; }
            &.hue-200  { background-color: darken(#BCAAA4, 10%); color: #000; }
            &.hue-300  { background-color: darken(#A1887F, 10%); }
            &.hue-400  { background-color: darken(#8D6E63, 10%); }
            &.hue-500  { background-color: darken(#795548, 10%); }
            &.hue-600  { background-color: darken(#6D4C41, 10%); }
            &.hue-700  { background-color: darken(#5D4037, 10%); }
            &.hue-800  { background-color: darken(#4E342E, 10%); }
            &.hue-900  { background-color: darken(#3E2723, 10%); }
        }
    }
    &.grey {
        background-color: #9E9E9E;
        color: #fff;
        &.hue-50   { background-color: #FAFAFA; color: #000; }
        &.hue-100  { background-color: #F5F5F5; color: #000; }
        &.hue-200  { background-color: #EEEEEE; color: #000; }
        &.hue-300  { background-color: #E0E0E0; color: #000; }
        &.hue-400  { background-color: #BDBDBD; color: #000; }
        &.hue-500  { background-color: #9E9E9E; color: #000; }
        &.hue-600  { background-color: #757575; }
        &.hue-700  { background-color: #616161; }
        &.hue-800  { background-color: #424242; }
        &.hue-900  { background-color: #212121; }
        &.hover:hover {
            background-color: darken(#9E9E9E, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#FAFAFA, 10%); color: #000; }
            &.hue-100  { background-color: darken(#F5F5F5, 10%); color: #000; }
            &.hue-200  { background-color: darken(#EEEEEE, 10%); color: #000; }
            &.hue-300  { background-color: darken(#E0E0E0, 10%); color: #000; }
            &.hue-400  { background-color: darken(#BDBDBD, 10%); color: #000; }
            &.hue-500  { background-color: darken(#9E9E9E, 10%); color: #000; }
            &.hue-600  { background-color: darken(#757575, 10%); }
            &.hue-700  { background-color: darken(#616161, 10%); }
            &.hue-800  { background-color: darken(#424242, 10%); }
            &.hue-900  { background-color: darken(#212121, 10%); }
        }
    }
    &.blue-grey {
        background-color: #607D8B;
        color: #fff;
        &.hue-50   { background-color: #ECEFF1; color: #000; }
        &.hue-100  { background-color: #CFD8DC; color: #000; }
        &.hue-200  { background-color: #B0BEC5; color: #000; }
        &.hue-300  { background-color: #90A4AE; color: #000; }
        &.hue-400  { background-color: #78909C; }
        &.hue-500  { background-color: #607D8B; }
        &.hue-600  { background-color: #546E7A; }
        &.hue-700  { background-color: #455A64; }
        &.hue-800  { background-color: #37474F; }
        &.hue-900  { background-color: #263238; }
        &.hover:hover {
            background-color: darken(#607D8B, 10%);
            color: #fff;
            &.hue-50   { background-color: darken(#ECEFF1, 10%); color: #000; }
            &.hue-100  { background-color: darken(#CFD8DC, 10%); color: #000; }
            &.hue-200  { background-color: darken(#B0BEC5, 10%); color: #000; }
            &.hue-300  { background-color: darken(#90A4AE, 10%); color: #000; }
            &.hue-400  { background-color: darken(#78909C, 10%); }
            &.hue-500  { background-color: darken(#607D8B, 10%); }
            &.hue-600  { background-color: darken(#546E7A, 10%); }
            &.hue-700  { background-color: darken(#455A64, 10%); }
            &.hue-800  { background-color: darken(#37474F, 10%); }
            &.hue-900  { background-color: darken(#263238, 10%); }
        }
    }
}